.filter-button.Mui-selected {
  background-color: #3f51b5;
  color: #fff;
}

.filter-bar {
  display: flex;
  justify-content: space-around;
  width: 50%;
  align-items: center;
  margin-left: 25%;
}

.custom-button {
  background-color: #121212 !important;
  color: #fff !important;
  text-transform: capitalize !important;
  border-radius: 500px !important;
}
.clicked{
  background-color: #fff !important;
  color: black !important;
}
